{% extends "base.html" %}

{% block title %}
    Đăng nhập
{% endblock title %}
{% block body %}
    <section class="vh-100 bg-image"
             style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Đăng nhập</h2>
                                <form method="post" action="/signin">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="username">Tên tài khoản</label>
                                        <input type="text"
                                               class="form-control"
                                               id="username"
                                               name="username"
                                               placeholder="Nhập tên tài khoản"
                                               value="{{username}}"
                                               Required />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Mật khẩu</label>
                                        <input type="password"
                                               class="form-control"
                                               id="password"
                                               name="password"
                                               placeholder="Nhập mật khẩu"
                                               value="{{password}}"
                                               Required />
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <input type="submit"
                                               value="Đăng nhập"
                                               class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"/>
                                    </div>
                                    <p class="text-center text-muted mt-5 mb-0">
                                    Chưa có tài khoản? <a href="{% url 'signup' %}" class="fw-bold text-body"><u>Đăng ký</u></a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
{% block footer %}
    <style type="text/css">
        .gradient-custom-3 {
		/* fallback for old browsers */
		background: #84fab0;

		/* Chrome 10-25, Safari 5.1-6 */
		background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
		}
		.gradient-custom-4 {
		/* fallback for old browsers */
		background: #84fab0;

		/* Chrome 10-25, Safari 5.1-6 */
		background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
		}
    </style>
{% endblock footer %}
