{% extends "base.html" %}
{% load static %}
{% load template_support %}
{% load crispy_forms_tags %}

{% block title %}
    Phòng khách sạn
{% endblock title %}
{% block body %}
    <!-- Breadcrumb Section Begin -->
    {% comment %} <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Phòng của chúng tôi</h2>
                        <div class="bt-option">
                            <a href="./home.html">Home</a>
                            <span>Rooms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Breadcrumb Section End -->
    <!-- Rooms Section Begin -->
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                {% for room in rooms %}
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="{{ room.room_photos.first.image_room.url }}" alt="{{ room.room_photos.first.image_name }}" height="" width="" />
                        <div class="ri-text">
                            <h4>{{ room.room_name }}/{{ room.room_price.room_type }}</h4>
                            <h3>{{ room.room_price.price_per_night }}<span>/1 đêm</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Trạng thái:</td>
                                        <td>{{ room.room_status|get_full_room_status }}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Diện tích:</td>
                                        <td>{{ room.size }} m2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tối đa:</td>
                                        <td>{{ room.room_price.max_person }}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Thông tin:</td>
                                        <td>{{ room.layout }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <a href="{% url 'update_room_hotel' room_pk=room.pk %}" class="primary-btn">Chi tiết</a>
                                <a href="{% url 'create_booking' pk=room.pk %}" class="primary-btn ml-4">Nhận khách</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% comment %} <div class="col-lg-12">
                    <div class="room-pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">Tiếp <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </section>
    <!-- Rooms Section End -->
{% endblock body %}
{% block footer %}
    <style type="text/css">

    </style>
{% endblock footer %}
