{% extends "base.html" %}
{% load static %}
{% load template_support %}
{% load crispy_forms_tags %}
{% block title %}
    Phòng ở
{% endblock title %}
{% block body %}
    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <img src="{{ room_book.room_photos.first.image_room.url }}" alt="" />
                        <div class="rd-text">
                            <div class="rd-title">
                                <h3>{{ room_book.room_name }}</h3>
                            </div>
                            <h2>{{ room_book.room_price.price_per_night }}VNĐ<span>/Một đêm</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Diện tích:</td>
                                        <td>{{ room_book.size }}m2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số người tối đa:</td>
                                        <td>{{ room_book.room_price.max_person }}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Dịch vụ:</td>
                                        <td>{{ room_book.layout }}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Trạng thái phòng:</td>
                                        <td>{{ room_book.room_status|get_full_room_status }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="f-para">{{ room_book.introduce }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="room-booking">
                        <h3>Đặt phòng của bạn</h3>
                        <form action="#" method="post">
                            {% csrf_token %}
                             {% for field in form %}
                                {% include 'field.html' %}
                             {% endfor %}
                            <button type="submit">Đặt phòng</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Room Details Section End -->
{% endblock body %}
{% block footer %}
    <style type="text/css">
        .nice-select {
            width: 100%;
        }
    </style>
{% endblock footer %}
