{% extends "base.html" %}
{% load static %}
{% load template_support %}
{% load crispy_forms_tags %}
{% block title %}
    Đặt phòng khách sạn
{% endblock title %}
{% block body %}
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>Website đặt phòng khách sạn</h1>
                        <p>Chào mừng bạn đến với website của chúng tôi</p>
                        <a href="#" class="primary-btn">Khám phá ngay</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Đặt phòng khách sạn</h3>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in search_form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <input type="{{ field.field.widget.input_type }}"
                                           name="{{ field.name }}"
                                           class="{{ field.field.widget.attrs.class }}"
                                           value="{{ field.value|check_value_none }}"/>
                                    {% for error in field.errors %}<p style="color: red; position: absolute">{{ error }}</p>{% endfor %}
                                </div>
                            {% endfor %}
                            <button type="submit">Kiểm tra khách sạn</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg"
                 data-setbg="{% static 'images/hero/hero-1.jpg' %}"></div>
            <div class="hs-item set-bg"
                 data-setbg="{% static 'images/hero/hero-2.jpg' %}"></div>
            <div class="hs-item set-bg"
                 data-setbg="{% static 'images/hero/hero-3.jpg' %}"></div>
        </div>
    </section>
    <section class="hp-room-section pt-5 pb-5">
        <div class="section-title">
            <h2>Danh sách khách sạn</h2>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <section class="hp-room-section">
                    <div class="container-fluid">
                        <div class="hp-room-items">
                            <div class="row">
                                {% if hotels %}
                                    {% for  hotel in hotels %}
                                        <div class="col-lg-4 col-md-6">
                                            <div class="hp-room-item set-bg"
                                                data-setbg="{{ hotel.hotel_photos.first.image_hotel.url }}">
                                                <div class="hr-text" style="backdrop-filter: blur(10px);">
                                                    <h3>Khách sạn</h3>
                                                    <h2>{{ hotel.name }}</h2>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td class="r-o">Email:</td>
                                                                <td>{{ hotel.email }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Điện thoại:</td>
                                                                <td>{{ hotel.contact_no }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Địa chỉ:</td>
                                                                <td>{{ hotel.address }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Thành phố:</td>
                                                                <td>{{ hotel.city }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="r-o">Dịch vụ:</td>
                                                                <td>{{ hotel.introduce }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <a href="{% url 'hotel_rooms' pk=hotel.pk %}" class="primary-btn">Chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                <div class="col-lg-12 text-center">Không có khách sạn</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-2 row">
            </div>
        </div>
        <div class="row">
            {% if pages.paginator.count > 1 %}
                {% include 'pages.html' %}
            {% endif %}
        </div>
    </section>
{% endblock body %}
{% block footer %}
    <style type="text/css">
        .booking-form form .select-option .nice-select:after {
            border-bottom: 2px solid #dfa274;
            border-right: 2px solid #dfa974;
            height: 10px;
            margin-top: 0;
            right: 20px;
            width: 10px;
            top: 36%;
        }
    </style>
{% endblock footer %}
{% block script %}
    <script type="text/javascript">
        var countries = {{ vietnam_city|safe }}
        $("input[name='city']").autocomplete({
            source: countries
        });
    </script>
{% endblock script %}
