{% extends "base.html" %}
{% load static %}
{% load template_support %}
{% load crispy_forms_tags %}
{% block title %}
    Khách sạn
{% endblock title %}
{% block body %}
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                {% for book in books %}
                    <div class="col-lg-4 col-md-6 mt-3">
                        <div class="room-item">
                            <img src="{{ book.room.room_photos.first.image_room.url }}" alt="" />
                            <div class="ri-text">
                                <h4>{{ book.room.room_name }}</h4>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Tên khách hàng</td>
                                            <td>{{ book.guest_name }}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Số điện thoại:</td>
                                            <td>{{ book.guest_phone_number }}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Email:</td>
                                            <td>{{ book.guest.email }}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Thời gian vào</td>
                                            <td>{{ book.check_in_time|format_datetime_local }}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Thời gian ra</td>
                                            <td>{{ book.check_out_time|format_datetime_local }}</td>
                                        </tr>
                                        {% if book.pre_order %}
                                            <tr>
                                                <td class="r-o">Đặt cọc</td>
                                                <td>{{ book.pay_online.amount }}</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                {% if book.booking_status == "DP" %}
                                    <form action="{% url 'guest_check_in' book_pk=book.pk %}"
                                          method="post"
                                          class="mt-2 mb-2">
                                        {% csrf_token %}
                                        <button type="submit" class="btn primary-btn">Nhận phòng</button>
                                    </form>
                                    <form action="{% url 'hotel_guest_cancel' book_pk=book.pk %}"
                                          method="post"
                                          class="mt-2 mb-2">
                                        {% csrf_token %}
                                        <button type="submit" class="btn primary-btn">Hủy phòng</button>
                                    </form>
                                {% endif %}
                                {% if book.booking_status == "NP"  %}
                                <div class="row">
                                    <div class="col-6">
                                        <form action="{% url 'booking_checkout' book_pk=book.pk %}">
                                            <button type="submit" class="btn primary-btn">
                                                Trả phòng
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'get_menu' book_pk=book.pk %}" class="primary-btn mt-2">Đồ ăn/uống</a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-lg-12">
                    {% comment %} <div class="room-pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
{% block footer %}
    <style type="text/css">
        .booking-form form .select-option .nice-select:after {
            border-bottom: 2px solid #dfa274;
            border-right: 2px solid #dfa974;
            height: 10px;
            margin-top: 0;
            right: 20px;
            width: 10px;
            top: 36%;
        }
    </style>
{% endblock footer %}
