{% extends "base.html" %}
{% load static %}
{% load template_support %}
{% load crispy_forms_tags %}
{% block title %}
    Danh sách đồ ăn thức uống
{% endblock title %}
{% block body %}
    <section class="hp-room-section pt-5 pb-5">
        <div class="section-title">
            <h2>Đặt đồ ăn/nước khách sạn {{ hotel.name }}</h2>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <section class="hp-room-section">
                    <div class="container-fluid">
                        <div class="hp-room-items">
                            <div class="row">
                                <div class="col-lg-12"><a href="{% url 'menu_food_drink' hotel_pk=hotel_pk %}" class="btn btn-primary">Xem đồ ăn/nước uống</a></div>
                                <div class="col-lg-12 row mt-3 {% if not menus %}justify-content-center{% endif %}">
                                    {% if menus %}
                                        {% for  menu in menus %}
                                            <div class="col-lg-3 col-md-6">
                                                <div class="card" style="width: 18rem;">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Tên: {{ menu.drink_and_food.item_name }}</h5>
                                                        <h5 class="card-title">Phòng: {{ menu.book.room.room_name }}</h5>
                                                        <h6 class="card-subtitle mb-2 text-muted">Giá tiền: {{ menu.drink_and_food.price|currency }} VNĐ/1 Sản phẩm</h6>
                                                        <p class="card-text">Số lượng: {{ menu.total }}</p>
                                                        <a href="{% url 'accept_menu' menu_pk=menu.pk %}" class="btn text-warning">Nhận</a>
                                                        <a href="#" class="btn text-danger">Hủy</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <h2 class="mt-5">Không có đặt đồ ăn/nước uống</h2>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </section>
{% endblock body %}
{% block footer %}
    <style type="text/css"></style>
{% endblock footer %}
