{% extends "base.html" %}
{% load static %}
{% load value_dict %}
{% load crispy_forms_tags %}
{% block body %}
    <h3>Create your account!</h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row">
            {% for field in register_form %}
                <div class="form-group col-sm-12 row">
                            <label for='{{ field.id_for_label }}' class="col-12 col-form-label text-blue-dark">
                                {{ field.label }}
                            </label>
                            <div class="col-12">
                                    <input type="{{ field.field.widget.input_type }}"
                                            id="{{ field.auto_id }}"
                                            name="{{ field.name }}"
                                            class="{{ field.field.widget.attrs.class }}"
                                            placeholder="{{ field.label }}"/>
                                {% if field.help_text %}<small class="col-12 text-secondary">{{ field.help_text }}</small>{% endif %}
                                {% for error in field.errors %}<span class="text-danger col-12">{{ error }}</span>{% endfor %}
                            </div>
                        </div>
            {% endfor %}
        </div>
        <div class="form-group d-flex flex-column">
            <input type="submit"
                   value="Dang ky"
                   class="btn btn-primary align-self-end pl-lg-5 pr-lg-5 mr-lg-5"/>
        </div>
    </form>
{% endblock body %}
