{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <h3>Create your account!</h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row">
            {% for field in register_form %}
                <div class="form-group col-12 row">
                    <label for='{{ field.id_for_label }}'
                           class="col-12 col-form-label text-blue-dark">{{ field.label }}</label>
                    <div class="col-12 row">
                        <div class="col-12">{{ field }}</div>
                        <div class="col-12">
                            {% if field.help_text %}<small style="color: grey" class="col-12">{{ field.help_text }}</small>{% endif %}
                        </div>
                        <div class="col-12">
                            {% for error in field.errors %}<p style="color: red" class="col-12">{{ error }}</p>{% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form-group d-flex flex-column">
            <input type="submit"
                   value="Dang ky"
                   class="btn btn-primary align-self-end pl-lg-5 pr-lg-5 mr-lg-5"/>
        </div>
    </form>
{% endblock body %}
